/*공통 적용 *********************************************************************/
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body, p, div, span, ul, li, dl, dt, dd, table, th, td, a, blockquote, input, textarea, fieldset, h1, h2, h3, h4, h5, h6, small, strong, b, i, em {
        font-family: 'InfinitySans-RegularA1';

    }

    html {
        position: relative;
        left: 0;
        top: 0;
        min-height: 100%;
        background-color: #EEEEEE;
        
    }
    
    html, body {
        padding: 0;
        margin: 0;
        background: #ffffff;   
    }
    
    body {
        overflow-y: scroll;
        height: 101%;
    }
    
    div {
        padding: 0;
    }
    
    input,
    input:focus {
        outline: none !important;
        box-shadow: none !important
    }
    
    input[type="text"],
    textarea {
        box-shadow: none !important;
        -moz-appearance: none;
        -webkit-appearance: none;
        resize: none
    }
    
    
    button,
    .btn-group,
    .open,
    .dropdown-toggle,
    .btn {
        box-shadow: none !important;
        outline: none !important;
    }

    .btn-primary {
        background-color: #405318;
    }

    .btn-primary:hover {
        background-color: #39491a;
    }

/* 헤더 *********************************************************************/
#headerContainer {
    width: 100%;
    height: 60px;
    border: 2px solid #ccc;
    box-shadow: 3px 3px 3px 3px #ccc;
}



#headerContainer .headerLeft {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.7em;
    font-weight: bold;

}

#headerContainer .headerRight {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.4em;
}

#headerContainer::after {
    content: '';
    clear: both;
    display: block;
}

/* section *********************************************************************/

.section-top {
    border-bottom: 1px solid #999 ;
    padding-bottom: 20px;
}

.section-title {
    margin-top: 30px;
    font-size: 2.2em;
    font-weight: bold;
    color: #39491a;
    float: left;

}

.nextBtn {
    float: right;
    /* line-height: 40px; */
    vertical-align: middle;
    margin-top: 35px;
}

.nextBtn input {
    width: 110px;
    height: 40px;
}

.section-top::after {
    content: '';
    display: block;
    clear: both;

}

.row {
    /* border-bottom: 1px solid black; */
    padding: 10px;
    margin-top: 10px;
    font-size: 1.1em;
}



.section .section-subtitle {
    font-size: 1.5em;
    color: #39491a;
}

.selectCalendar div {
    float: left;
}

.selectCalendar::after {
    content: '';
    display: block;
    clear: both;
}

.selectCalendar .section-subtitle {
    margin-right: 20px;
}

.section .calendarDate {
    margin-left: 30px;
    color: #617e24;
    font-size: 1.1em;
}

