/* 객실 등록 */
main {
	width: 1300px;
}

section {
	/* border: 1px solid red; */
	background-color: white;
	width: 850px;
	padding: 30px;
	margin: 40px 0px 0px 50px;
}

section h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 55px;
}

section form {
	width: 792px;
	/* margin: 0px auto; */
	margin-top: 30px;
/* 	margin-left: 70px; */
	/* margin-right: 0px; */
	position: relative;
	left: 0px;
	top: 0px;
}

/* 입력 */
.box::after {
	content: "";
	display: block;
	clear: both;
}

.withFloat {
	float: left;
}

.withFloat:nth-child(odd) {
	margin-right: 50px;
}

.subbox {
	margin-bottom: 25px;
}

#bedbox {
	margin-bottom: 0px;
}


#addBox {
	margin: 20px 0px;
	text-align: right;
}


/* 침대 추가 */
/* #selBed {
    background-color: #EEE;
}
 */




